html, body {
  padding: 0;
  margin: 0;
}

#map {
  width:100vw;
  height: 100vh;
}

#deck-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; 
}