{% extends "leaflet/master.html" %} 
{% load static %}
{% block title %} Dashbord {% endblock %} 


{% block content %} 
<div class="container-fluid">
  <div class="row flex-column flex-md-row">
    <div class="col-12 col-md-6  p-0" id="privateMap">
      <button id="add-new-location" class="btn btn-primary position-relative shadow" style="top: 10px; left: 10px; z-index: 1000;">New Location</button>
    </div>
    <div class="col-12 col-md-6  p-4 bg-white shadow-lg">
      <!-- <button id="test" class="btn btn-primary position-absolute shadow">test</button> -->
      <h3>Welcome Joshua De Leon </h3>
      <div id="header-table">
        <table class="table table-hover table-sm" id="user-table">
          <thead>
            <tr class="table-info">
              <th>ID</th>
              <th>Actions</th>
              <th>Available</th>
              <th>Type</th>
              <th>Number of Unit</th>
              <th>Rent</th>
              <th>Address</th>
              <th>Area</th>
              <th>Number of Rooms</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Website</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for location in locations%}
            <tr>
                <td> {{ location.id }}</td>
                <td> 
                  <button class="btn btn-sm btn-primary edit-bt" data-id="{{ location.id }}">Edit</button>
                </td>
                <td> {{ location.available }}</td>
                <td> {{ location.type }}</td>
                <td> {{ location.no_units }}</td>
                <td> {{ location.rent_per_month }}</td>
                <td> {{ location.address }}</td>
                <td> {{ location.area_sqm }}</td>
                <td> {{ location.no_rooms }}</td>
                <td> {{ location.phone }}</td>
                <td> {{ location.email }}</td>
                <td> {{ location.website }}</td>
                <td> {{ location.status }}</td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

  <!-- modal -->
  <div class="modal fade" id="editModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
  </div>

<script src="{% static 'leaflet/privateMap.js' %}"></script>
<script src="{% static 'leaflet/lib/print-leaflet.js' %}"></script>

{% endblock %}