{% load static %}
<form id="modalLocationForm" method="POST" enctype="multipart/form-data" action="{% url 'add-location' %}">
<div class="modal-header">

  <img src="{% static 'leaflet/img/house-storm-svgrepo-com.svg' %}" alt="Logo" width="40" height="50" class="d-inline-block align-text-top">
  <span class="navbar-brand">Homify</span>
  
  <div class="w-100 text-center">
    <h5 class="mb-0">Add Property ID</h5>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

  <div class="modal-body">
    {% csrf_token %}
    <div class="mb-3 table-responsive">
      <table class="table table-bordered table-striped align-middle">
      {% for field in form %}
        <tr>
          <th> {{ field.label_tag }} </th>
          <td > {{ field }} </td>
        </tr>
      {% endfor  %}
      </table>
    </div>

    <h5>Images</h5>
    <table>
      {% for image in imageset%}
        <tr>
          <td> {{ image.label_tag }}</td>
          <td> {{ image.field }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
  </div>
</form>

